@use "breakpoints";
@use "icons";

.control {
    --size: 5rem;

    background-color: var(--c-teal);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    font-size: 0;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-med);

    &:hover {
        transform: scale(1.05);
    }

    &--home {
        @include icons.fonticonSetup(after);
        @include icons.fonticon(
            icons.$icon--home,
            2.25rem,
            var(--c-sky-blue),
            auto,
            auto,
            auto,
            auto,
            $elem: after
        );
    }

    &--parking {
        display: none;
        @include icons.fonticonSetup(after);
        @include icons.fonticon(
            icons.$icon--car,
            1.45rem,
            var(--c-sky-blue),
            auto,
            1.2rem,
            auto,
            auto,
            $elem: after
        );
    }

    &--search {
        @include icons.fonticonSetup(after);
        @include icons.fonticon(
            icons.$icon--search,
            2.25rem,
            var(--c-sky-blue),
            auto,
            auto,
            auto,
            auto,
            $elem: after
        );

        @media (min-width: breakpoints.$width-tablet-landscape) {
            display: none;
        }
    }

    &--filters {
        @include icons.fonticonSetup(after);
        @include icons.fonticon(
            icons.$icon--filter,
            1.8rem,
            var(--c-sky-blue),
            auto,
            1.5rem,
            auto,
            auto,
            $elem: after
        );

        @media (min-width: breakpoints.$width-tablet-landscape) {
            display: none;
        }
    }

    &--close {
        position: absolute !important;
        right: var(--spacing-md);
        top: var(--spacing-md);

        @include icons.fonticonSetup(after);
        @include icons.fonticon(
            icons.$icon--close,
            1.8rem,
            var(--c-sky-blue),
            auto,
            auto,
            auto,
            auto,
            $elem: after
        );
    }

    &--active {
        background-color: #f2f2f2;
        box-shadow: 0 0 0 2px var(--c-teal);

        &::after {
            color: var(--c-teal);
        }
    }
}
