.c-filter {
    height: max-content;
    padding: var(--spacing-xs);
    transform: translateX(500rem);
    transition: 0.4s ease-in-out;

    @media (min-width: $width-tablet-portrait) {
        transform: translateX(0);
    }

    &.in {
        transform: translateX(0);
    }

    &__internal {
        border-radius: var(--border-radius);
        padding: var(--spacing-xs);
        width: max-content;
        gap: var(--spacing-xs);
        font-family: $font-regular;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--c-teal);
        flex-direction: column;

        @media (min-width: 510px) {
            flex-direction: row;
        }
    }

    svg {
        display: none;
    }

    [class*="control"] {
        border-color: var(--c-teal);
        border-radius: 10px;
        padding: 0.5rem 1rem 0.5rem 4rem;
    }

    [class*="singleValue"] {
        color: var(--c-teal);
    }

    [class*="indicatorSeparator"] {
        display: none;
    }

    [class*="indicatorContainer"] {
        padding-right: 4rem;
        @include fonticonSetup(after);
        @include fonticon(
            $icon--arrow-down,
            1.1rem,
            var(--c-teal),
            50%,
            auto,
            1.5rem,
            auto,
            true,
            true,
            $elem: after
        );
    }

    .filter-activity {
        z-index: 10;

        [class*="control"] {
            @include fonticonSetup(after);
            @include fonticon(
                $icon--recycle,
                2.15rem,
                var(--c-brand-teal),
                50%,
                2.5rem,
                auto,
                auto,
                true,
                true,
                $elem: after
            );
        }
    }

    .filter-difficulty {
        [class*="control"] {
            @include fonticonSetup(after);
            @include fonticon(
                $icon--gauge,
                3.5rem,
                var(--c-brand-teal),
                50%,
                2.5rem,
                auto,
                auto,
                true,
                true,
                $elem: after
            );
        }
    }
}
