.c-filter {
    height: max-content;
    padding: var(--spacing-md);
    transform: translateX(500rem);
    transition: var(--transition-slow);
    right: 0;

    &.in {
        transform: translateX(0);

        @media (min-width: $width-tablet-portrait) {
            width: 76vw;
            transform: translateX(0);
        }

        @media (min-width: $width-tablet-landscape) {
            width: 42vw;
            transform: translateX(0);
        }
    }

    &__internal {
        border-radius: var(--border-radius);
        padding: var(--spacing-xs);
        width: 100%;
        gap: var(--spacing-xs);
        font-family: var(--font-regular);
        font-size: var(--font-size-body);
        font-weight: 500;
        color: var(--c-teal);

        @media (min-width: 510px) {
            flex-direction: row;
        }
    }

    svg {
        display: none;
    }

    [class*="control"] {
        border-color: var(--c-teal);
        border-radius: 1rem;
        cursor: pointer;
        padding: 0.75rem var(--spacing-xs) 0.75rem 4rem;
    }

    [class*="singleValue"] {
        color: var(--c-teal);
    }

    [class*="indicatorSeparator"] {
        display: none;
    }

    [class*="indicatorContainer"] {
        padding-right: 4rem;
        transition: var(--transition-med);
        @include fonticonSetup(after);
        @include fonticon(
            $icon--arrow-down,
            1.1rem,
            var(--c-teal),
            50%,
            auto,
            1.5rem,
            auto,
            true,
            true,
            $elem: after
        );
    }

    [class*="menu"] {
        color: var(--c-teal);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
        overflow: hidden;

        > [role="listbox"] {
            padding: 0;

            > [role="option"] {
                line-height: 140%;
            }
        }
    }

    .filter {
        @media (min-width: $width-tablet-portrait) {
            width: 50%;
        }

        &:has([class*="menu"]) {
            [class*="indicatorContainer"] {
                transform: translateY(-2px) translatex(1px) rotate(180deg);
            }
        }
    }

    .filter-activity {
        z-index: 10;

        [class*="control"] {
            @include fonticonSetup(after);
            @include fonticon(
                $icon--recycle,
                2.15rem,
                var(--c-brand-teal),
                50%,
                2.5rem,
                auto,
                auto,
                true,
                true,
                $elem: after
            );
        }

        [class*="menu"] {
            > [role="listbox"] {
                > [role="option"] {
                    // option: alpine ski
                    &:nth-child(2) {
                        padding: var(--spacing-xs) var(--spacing-md)
                            var(--spacing-xs) 5rem;

                        @include fonticonSetup(after);
                        @include fonticon(
                            $icon--ski,
                            2.3rem,
                            var(--c-brand-teal),
                            50%,
                            2.5rem,
                            auto,
                            auto,
                            true,
                            true,
                            $elem: after
                        );
                    }
                    // option: biking
                    &:nth-child(3) {
                        padding: var(--spacing-xs) var(--spacing-md)
                            var(--spacing-xs) 5rem;

                        @include fonticonSetup(after);
                        @include fonticon(
                            $icon--bike,
                            3.5rem,
                            var(--c-brand-teal),
                            50%,
                            2.5rem,
                            auto,
                            auto,
                            true,
                            true,
                            $elem: after
                        );
                    }
                }
            }
        }
    }

    .filter-difficulty {
        [class*="control"] {
            @include fonticonSetup(after);
            @include fonticon(
                $icon--gauge,
                3.5rem,
                var(--c-brand-teal),
                50%,
                2.5rem,
                auto,
                auto,
                true,
                true,
                $elem: after
            );
        }

        [class*="menu"] {
            > [role="listbox"] {
                > [role="option"] {
                    // option: easy
                    &:nth-child(2) {
                        padding: var(--spacing-xs) var(--spacing-md)
                            var(--spacing-xs) 5.5rem;

                        &::before {
                            content: "";
                            display: block;
                            height: 1.8rem;
                            width: 1.8rem;
                            background-color: var(--c-green);
                            border: 2px solid var(--c-black);
                            border-radius: 50%;
                            position: absolute;
                            left: 2rem;
                        }
                    }
                    // option: moderate
                    &:nth-child(3) {
                        padding: var(--spacing-xs) var(--spacing-md)
                            var(--spacing-xs) 5.5rem;

                        &::before {
                            content: "";
                            display: block;
                            height: 1.75rem;
                            width: 1.75rem;
                            background-color: var(--c-moderate-blue);
                            border: 1px solid var(--c-black);
                            position: absolute;
                            left: 2rem;
                        }
                    }
                    // option: difficult
                    &:nth-child(4) {
                        padding: var(--spacing-xs) var(--spacing-md)
                            var(--spacing-xs) 5.5rem;

                        &::before {
                            content: "";
                            display: block;
                            height: 1.3rem;
                            width: 1.3rem;
                            background-color: var(--c-black);
                            border: 2px solid var(--c-black);
                            margin-right: 1rem;
                            transform: rotate(45deg);
                            position: absolute;
                            left: 2rem;
                        }
                    }
                }
            }
        }
    }
}
