// map controls
.map-controls {
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: none;

    @media (min-width: $width-tablet-landscape) {
        top: 0;
    }
}

.c-controls {
    padding: var(--spacing-md);
    pointer-events: none;
    bottom: 0;
    transform: translateY(-500rem);
    transition: var(--transition-long);
    left: 50%;
    transform: translate(-50%, 500%);

    height: 100%;
    align-items: flex-end;

    @media (min-width: $width-tablet-landscape) {
        left: unset;
        transform: translate(-500%, 0%);
        top: 0;
        height: fit-content;
    }

    &.in {
        transform: translate(-50%, 0%);

        @media (min-width: $width-tablet-landscape) {
            transform: translate(0%, 0%);
        }
    }

    &__internal {
        border-radius: var(--border-radius);
        padding: var(--spacing-xs);
        width: max-content;
        gap: var(--spacing-xs);
        color: var(--c-teal);
        pointer-events: all;
        // position: relative;

        @media (min-width: $width-tablet-landscape) {
            flex-direction: row;
            position: unset;
        }
    }

    // search
    .leaflet-control-search {
        border: none;
        transform: translateX(500rem);
        transition: var(--transition-slow);
        position: absolute;
        background: none;
        left: 0;
        width: 100%;
        top: 6rem;
        left: 50%;

        position: absolute;
        left: 0;

        @media (min-width: $width-tablet-landscape) {
            display: flex;
            transform: translateX(0);
            transition: none;
            left: var(--spacing-xs);
            top: 9.5rem;
        }

        @media (min-width: $width-tablet-landscape) {
            background: white;
            left: unset;
            top: unset;
            position: relative;
        }

        @media (min-width: 740px) {
            width: 45rem;
        }
        @media (min-width: 1024px) {
            width: 37rem;
        }
        @media (min-width: 1100px) {
            width: 41rem;
        }
        @media (min-width: 1300px) {
            width: 50rem;
        }
        @media (min-width: 1650px) {
            width: 74rem;
        }

        &.in {
            transform: translate(-50%, 0);
            left: 50%;
        }

        .search-alert {
            font-family: var(--font-regular);
            font-size: var(--font-size-body);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            display: block;
            margin-top: var(--spacing-sm);
            color: var(--c-warning);
            padding-left: var(--spacing-xs);
            height: 100%;
        }

        .search-cancel {
            display: none !important;
        }

        .search-button {
            background: none;
            background-color: var(--c-teal);
            border-radius: var(--border-radius);
            color: white;
            cursor: pointer;
            font-size: 0;
            width: 5rem;
            height: 5rem;
            min-width: 5rem;
            min-height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition-med);
            margin-left: -5rem;
            height: 5.4rem;
            width: 5.4rem;
            position: absolute !important;
            right: 0;

            &:hover {
                transform: scale(1.05);
            }

            @include fonticonSetup(after);
            @include fonticon(
                $icon--search,
                2.25rem,
                var(--c-sky-blue),
                auto,
                auto,
                auto,
                auto,
                $elem: after
            );
        }

        .search-input {
            border-radius: var(--border-radius);
            border: 2px solid var(--c-teal);
            height: auto;
            width: inherit;
            font-family: var(--font-regular);
            font-size: var(--font-size-body);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            padding-left: 2rem;
            padding-right: 6rem;
            height: 5rem;
            margin: 0;
            width: calc(100% - 10rem);
            transition: var(--transition-med);

            &::placeholder {
                color: var(--c-teal);
            }
        }

        input.search-input {
            display: block !important;
            color: var(--c-teal);
        }

        .search-tooltip {
            width: 100%;
            background: white;
            max-height: 27rem;
            padding: var(--spacing-xs) 0;
            margin: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;

            .search-tip {
                font-family: var(--font-regular);
                font-size: var(--font-size-body);
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                padding: var(--spacing-xs) var(--spacing-md);
                background: white;
                color: var(--c-teal);

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }
}

// zoom controls
.leaflet-top.leaflet-left {
    .leaflet-control-zoom {
        display: none;
    }
}

.leaflet-control-container {
    .leaflet-control-zoom {
        border: none;
        margin: var(--spacing-md);
        display: none;

        @media (min-width: $width-tablet-landscape) {
            display: block;
        }

        a {
            background-color: var(--c-teal);
            border-radius: var(--border-radius) !important;
            color: white;
            font-size: 0;
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition-med);

            &:hover {
                transform: scale(1.05);
            }
        }

        &-in {
            margin-bottom: 0.35rem;

            @include fonticonSetup(after);
            @include fonticon(
                $icon--plus,
                2rem,
                var(--c-sky-blue),
                auto,
                auto,
                auto,
                auto,
                $elem: after
            );
        }

        &-out {
            @include fonticonSetup(after);
            @include fonticon(
                $icon--minus,
                0.2rem,
                var(--c-sky-blue),
                auto,
                1.55rem,
                auto,
                auto,
                $elem: after
            );
        }
    }
}

// leaflet.js
.leaflet-popup {
    width: 27.6rem;

    .leaflet-popup-content-wrapper {
        border: 1px solid var(--c-green);
    }

    .leaflet-popup-content {
        font-family: var(--font-regular);
        font-size: var(--font-size-label);
        margin: var(--spacing-md);
    }

    .leaflet-popup-close-button {
        display: none;
    }

    .card-props {
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: row;
        margin: 2.5rem 0 3rem;
        flex-wrap: wrap;

        > span {
            flex: 1;
        }
    }

    .link {
        color: var(--c-teal);
        cursor: pointer;
        font-size: var(--font-size-link);
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
        padding-right: 3.5rem;

        @include fonticonSetup(after);
        @include fonticon(
            $icon--arrow,
            1.6rem,
            var(--c-brand-teal),
            50%,
            auto,
            0,
            auto,
            true,
            true,
            $elem: after
        );

        &::after {
            transition: 0.2s ease-in-out;
        }

        &:hover {
            &::after {
                right: -0.5rem;
            }
        }
    }

    .distance {
        padding-left: 4rem;
        height: 3rem;

        @include fonticonSetup();
        @include fonticon(
            $icon--map,
            3rem,
            var(--c-teal),
            auto,
            0,
            auto,
            auto,
            $elem: before
        );
    }

    .type {
        padding-left: 4rem;
        height: 3rem;

        @include fonticonSetup();

        &.alpine-ski {
            @include fonticon(
                $icon--ski,
                2.65rem,
                var(--c-brand-teal),
                auto,
                0,
                auto,
                auto,
                $elem: before
            );
        }
        &.biking {
            @include fonticon(
                $icon--bike,
                4rem,
                var(--c-brand-teal),
                auto,
                -0.65rem,
                auto,
                auto,
                $elem: before
            );
        }
        // option: hiking
        &.hiking {
            @include fonticon(
                $icon--hike,
                3rem,
                var(--c-brand-teal),
                auto,
                0,
                auto,
                auto,
                $elem: before
            );
        }
        // option: nordic
        &.nordic-ski {
            @include fonticon(
                $icon--nordic,
                3.25rem,
                var(--c-brand-teal),
                auto,
                0,
                auto,
                auto,
                $elem: before
            );
        }
        // option: multi
        &.multi-use {
            @include fonticon(
                $icon--multi,
                4.5rem,
                var(--c-brand-teal),
                auto,
                -0.75rem,
                auto,
                auto,
                $elem: before
            );
        }
        // option: motorized
        &.motorized {
            @include fonticon(
                $icon--atv,
                4rem,
                var(--c-brand-teal),
                auto,
                -0.5rem,
                auto,
                auto,
                $elem: before
            );
        }
    }
}

// trail difficulty shapes
.difficulty {
    position: relative;
    padding-left: 3rem;

    &::before {
        position: absolute;
        left: 0;
    }

    &.easy,
    &.easiest {
        &::before {
            content: "";
            display: block;
            height: 2rem;
            width: 2rem;
            background-color: var(--c-green);
            border: 2px solid var(--c-black);
            margin-right: 1rem;
            border-radius: 50%;
        }
    }
    &.moderate {
        &::before {
            content: "";
            display: block;
            height: 1.75rem;
            width: 1.75rem;
            background-color: var(--c-moderate-blue);
            border: 1px solid var(--c-black);
            margin-right: 1rem;
        }
    }
    &.difficult {
        &::before {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            background-color: var(--c-black);
            border: 2px solid var(--c-black);
            margin-right: 1rem;
            transform: rotate(45deg);
        }
    }
    &.most-difficult,
    &.most_difficult {
        padding-left: 4rem;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            background-color: var(--c-black);
            border: 2px solid var(--c-black);
            margin-right: 1rem;
            transform: rotate(45deg);
        }
        &::after {
            left: 1.4rem;
            position: absolute;
        }
    }
}

.link--parking {
    background-color: var(--c-orange);
    border-radius: 1rem;
    display: flex;
    padding: 1.8rem 3rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--c-black) !important;
    font-size: var(--font-size-button);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1.25rem;
}

// trail detail
.c-trail-detail {
    z-index: 999999999;
    left: 50%;
    transform: translateX(-50%) translateY(500rem);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--c-green);
    transition: 0.35s ease-in-out;
    width: 85vw;
    height: 90dvh;
    min-width: auto;
    top: 1rem;
    overflow: scroll;

    @media (min-width: $width-tablet-landscape) {
        padding: var(--spacing-md) calc(var(--spacing-md) * 2) var(--spacing-md)
            var(--spacing-md);
        max-width: 61rem;
        min-width: 45rem;
        top: 14rem;
        height: auto;
    }

    @media (min-width: $width-tablet-landscape) {
        flex-direction: row;
    }

    p {
        color: var(--c-black);
    }

    &__internal {
        width: 100%;
        padding-top: 0;
        margin-top: 6rem;
        margin-bottom: calc(var(--spacing-md) * 2);

        @media (min-width: $width-tablet-landscape) {
            max-height: 50vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: calc(var(--spacing-md) * 2);
        }
        @media (min-width: $width-laptop) {
            max-height: 58vh;
        }
    }

    &.open {
        transform: translateX(-50%);
    }

    // image gallery
    &.has-gallery {
        @media (min-width: $width-tablet-portrait) {
            max-width: 130rem;
            gap: 6rem;
        }

        .c-trail-detail__internal {
            margin-top: calc(var(--spacing-md) * 2);

            @media (min-width: $width-tablet-landscape) {
                width: 50%;
                margin-top: 8rem;
            }
        }
    }

    .access {
        margin-top: 2rem;
        padding: 3rem 2rem 1.5rem;
        background: #f4f4f4;
        border-radius: 1.5rem;

        h3 {
            padding-left: 4.5rem;
            margin-bottom: 0;
            @include fonticonSetup();
            @include fonticon(
                $icon--car,
                1.7rem,
                var(--c-teal),
                auto,
                0,
                auto,
                auto,
                $elem: before
            );
        }

        p {
            margin-top: 1rem;
        }
    }
}

.c-trail-props {
    gap: 2.4rem;
    font-size: var(--font-size-label);
    flex-direction: row;
    margin: 2.5rem 0 3.5rem;

    .distance {
        padding-left: calc(var(--spacing-md) * 2);
        height: 3rem;

        @include fonticonSetup();
        @include fonticon(
            $icon--map,
            3rem,
            var(--c-teal),
            auto,
            0,
            auto,
            auto,
            $elem: before
        );
    }
}

// scrollbar
.c-trail-detail {
    --border-radius: 0.6rem;

    ::-webkit-scrollbar {
        width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: var(--border-radius);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--c-teal);
        border-radius: var(--border-radius);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.trail-active {
    filter: drop-shadow(2px 2px 0px white) drop-shadow(-2px -2px 0px white)
        drop-shadow(2px -2px 0px white) drop-shadow(-2px 2px 0px white);
}

.parking-marker {
    height: 0.75rem !important;
    width: 0.75rem !important;
    border-radius: 50%;
    background-color: #f8764f;
    border: 1.5px solid black;
}
