:root {
    --font-regular: "Montserrat", Times, "Times New Roman", serif;
    --font-heading: "Khand", "Helvetica", "Arial", sans-serif;

    --font-size-body: 1.6rem;
    --font-size-label: 1.3rem;
    --font-size-link: 1.4rem;
    --font-size-button: 1.5rem;
    --font-size-h2: 2.8rem;
    --font-size-h3: 1.9rem;
}

@media (min-width: 740px) {
    :root {
        --font-size-label: 1.5rem;
        --font-size-link: 1.6rem;
        --font-size-button: 1.8rem;
        --font-size-h2: 4.5rem;
        --font-size-h3: 2.1rem;
    }
}

html {
    font-size: 62.5%;
}

#app {
    height: 100vh;
    position: relative;
    font-family: var(--font-regular);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    font-style: normal;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 0.2em 0;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
    line-height: 110%;
    margin: 0 0 0.5em 0;
}

p {
    font-size: var(--font-size-body);
    font-weight: 500;
    line-height: 140%;
}

// utility classes
.body-copy {
    font-family: var(--font-regular);
    font-size: var(--font-size-body);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
