:root {
    --spacing-xs: 1rem;
    --spacing-sm: 1.5rem;
    --spacing-md: 2rem;

    --border-radius: 1.5rem;

    --transition-slow: 0.4s ease-in-out;
    --transition-med: 0.2s ease-in-out;
    --transition-long: 0.4s ease-in-out;
}
